.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
.gitignore
.npmignore
server/dist
public/dist
storybook-static/
.cursorrules
turbo.json
pnpm-workspace.yaml
.npmrc
.changeset
.github/workflows
.vscode
.eslintrc.js
tsconfig.json
tsup.config.ts
.eslintrc.js